DATABASE_URL="postgres://c9780907f291fd2cb2ef21caddeea10fa016ed9e3e15c4d65e3e4d0ae5d18025:sk_PTOfjUP6XAELo82upYpOO@db.prisma.io:5432/postgres?sslmode=require&connection_limit=1"
JWT_SECRET="brainec-salam-super-secret-2026"
JWT_EXPIRES_IN="7d"
CLOUDINARY_CLOUD_NAME="dxjbm3flh"
CLOUDINARY_API_KEY="638244746254742"
CLOUDINARY_API_SECRET="bW2W0rcpqTTWWaoPbbJEi8F88Ts"
PORT=
FRONTEND_URL="https://brainecs-salam.vercel.app"
